/* CSS reset */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

@font-face {
	font-family: "Outfit";
	src: local("Outfit"),
local("Outfit"), url("Outfit-VariableFont_wght.ttf");
}

html,
body {
	margin: 0;
	padding: 0;
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: flex;
	text-align: center;
	height: 100vh;
	--light-gray: hsl(212, 45%, 89%);
	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
	background-color: var(--light-gray);
}

.card {
	padding: 0.5rem;
	background-color: var(--white);
	box-shadow: 1px 4px 20px 1px #5555556c;
	border-radius: 0.75rem;
	transition: background .5s;
	margin-bottom: 2rem;
	width: 200px;
}

.card img{
	width: 100%;
	border-radius: 0.5rem;
}


/*h1 & p*/

.card-body h1{
	color: var(--dark-blue);
	font-weight: bold;
	font-family: "Outfit";
	font-size: .9rem;
	margin: 10px 0 10px 0;
}

.card-body p{
	font-size: 10px;
	color: var(--grayish-blue);
	font-family: "Outfit";
	margin: 10px 0 10px 0;
}

.signature {
	text-align:center;
	font-size: 8px;
	font-family: "Outfit";
}

@media (min-width: 375px) and (max-width: 600px) {
	
	.card-container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-gray);
	background-size: 100% 60%;

	.order-card (
	width: 85vw;
	max-width: 400px;
}
