@import url('https://fonts.googleapis.com/css?family=Outfit');

html,
body {
	background-color: white;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
	--light-gray: hsl(212, 45%, 89%);
	--white: hsl(0, 0%, 100%);
	--grayish-blue: hsl(220, 15%, 55%);
	--dark-blue: hsl(218, 44%, 22%);
}

.card-container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-gray);
	background-size: 100% 60%;
	padding: 15px;
	margin: 15px;
}

.image-qr-code {
	width: 100%;
	height: auto;
}

.card-body {
	text-align: center;
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin: 0 auto;
}

.order-card (
	width: 20vw;
	border-radius: 15px;
	overflow: hidden;
	background-color: var(--white);
)

h1 {
	margin: 2rem auto 0;
	color: black;
	font-weight: 700;
}


.qr-para {
	margin-top: 0;
	color: gray;
	font-weight: 400;
}

@media (min-width: 375px) and (max-width: 600px) {
	
	.card-container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light-gray);
	background-size: 100% 60%;

	.order-card (
	width: 85vw;
	max-width: 400px;
}
