@import url('https://fonts.googleapis.com/css?family=Outfit');

body {
	background-color: white;
	padding: 100;
	margin: 100;
	box-sizing: border-box;
	font-family: 'Outfit', sans-serif;
}

.card-container {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	display: center;
	justify-content: center;
	align-items: center;
	background-color: hsl(212, 45%, 89%);
}

h1 {
	text-align:center;
	color: black;
	font-weight: 700;
}


P {
	text-align:center;
	color: gray;
	font-weight: 400;
	font-size: 15px;
}
